body {
	background-color: #f9f9f9;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border-style: none;
	border-width: 1px;
	text-align: center;
	font-size: 16px;
}

tr{
	height: 50px;
}

td{
}

li{
	list-style-type: none;
	text-align: left;
}

ul{
	padding: 5px;
}

#first-row{
	height: 0px;
}

a{
	color: black;
}

* {
	font-family: "Helvetica Neue", serif;
	font-weight: 300;
}

/*.motDiv{
	position: relative;
	padding-top: 10%;
}*/

.annotation-control {
	display: none;	
}

.annotation-hidden {
	display: none;
}

#filterText{
	display: none;
}


a:focus{
	color: black;
	font-weight: normal;
}

.unclicked{
	color: black;
	font-weight: normal;
}

.clicked{
	color: #23527c;
	font-weight: bold;
}