body {
	background-color: #f9f9f9;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border-style: solid;
	border-width: 1px;
	text-align: left;
	padding: 10px;
}

* {
	font-family: "Helvetica Neue", serif;
	font-weight: 300;
}

.motDiv{
	position: relative;
	padding-top: 10%;
}

.annotation-control {
	display: none;	
}

.annotation-hidden {
	display: none;
}

.annotation-time {
	border-right: 1px solid lightgray;
}

.annotation-time-input {
	max-width: 40px;
	outline: none;
	display: none;
}

#timeline-canvas {
	width: 400px;
	height: 100px;
}