table {
	border-collapse: collapse;
}

table, th, td {
	border-style: none;
	border-width: 1px;
	text-align: center;
	font-size: 16px;
}

tr{
	height: 50px;
}

td{
}

li{
	list-style-type: none;
	text-align: left;
}

ul{
	padding: 5px;
}

#first-row{
	height: 0px;
}

a{
	color: black;
}

* {
	font-family: "Helvetica Neue", serif;
	font-weight: 300;
}

/*.motDiv{
	position: relative;
	padding-top: 10%;
}*/

.annotation-control {
	display: none;	
}

.annotation-hidden {
	display: none;
}

#filterText{
	display: none;
}


.unclicked:focus{
	color: black;
	font-weight: normal;
}

.clicked:focus{
	color: #23527c;
	font-weight: bold;
}

.unclicked{
	color: black;
	font-weight: normal;
}

.clicked{
	color: #23527c;
	font-weight: bold;
}

.annotation-time {
	border-right: 1px solid lightgray;
}

.annotation-time-input {
	max-width: 40px;
	outline: none;
	display: none;
}

.highlighted {
	background-color: #d6e9c6;
}

/* non core styling */

.fixed-top {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: white;
	border-bottom: 1px solid #ddd;
}

.navigation {
	height: 50px;
	border-bottom: 1px solid #ddd;
}

.music-visual {
	height: 150px;
	background-color: #f6f6f6;
}

.timeline {
	height: 30px;
	border-bottom: 1px solid #ddd;
}

.spacer {
	height: 271px;
}

#annForm input[type="text"] {
	outline: none;
	border: none;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	height: 40px;
	width: 100%;
}

